<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date, start_year: Date.today.year, default: 1.days.from_now %>
  </div>

 <div>
  <%= f.label :priority %>
   <%= f.range_field :priority, :min=>-1, :max=>1, :class=>"slide", :id=>"priority", :onchange=>"updatePriority()"%>
   <p id="priorityDisplay"></p>
   <script type="text/javascript">
    function updatePriority() {
      var x = document.getElementById("priority").value;
      if (x == -1) {
        x = "uh ... another time";
      }
      else if (x == 0) {
        x = "should get it done";
      }
      else {
        x = "urgent";
      }
      document.getElementById("priorityDisplay").innerHTML = x;
    }
    updatePriority();
   </script>
 </div>

    <div class="field">
    <%= f.label :reward %>
    <%= f.collection_select :reward_id, Reward.all.order('Priority'), :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
