<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.datetime_select :due_date %>
  </div>

  <div class="field">
    <%= f.label :priority %>
    <%= f.text_field :priority %>
  </div>

  <input type="range" min="-1" max="1" value"0" step="1" />

  <div class="field">
    <%= f.label :done %>
    <%= f.check_box :done %>
  </div>

    <div class="field">
    <%= f.label :reward %>
    <%= f.collection_select :reward_id, Reward.all.order('Priority'), :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
