<p id="notice"><%= notice %></p>

<title>To-Do-List</title>
<ul id="tasklist">
    <% @tasks.each do |task| %>
      <li class="<%= task.done ?  :done : :todo %>">
        <h3><%= task.name %></h3>
        <time><%= task.due_date %></time>
        <span><%= task.priority %></span>
        <span><%= task.done %></span>
        <span><%= link_to 'Show', task %></span>
        <span><%= link_to 'Edit', edit_task_path(task) %></span>
        <span><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </li>
    <% end %>
</ul>
<br>
<%= link_to 'New Task', new_task_path %>
