<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle">
        <%= link_to '+', new_task_path %>
      </button>
      <a class="navbar-brand" href="/tasks">To-Do-List</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/tasks"><span><%= Task.where(done:false).count %></span> Task(s)</a></li>
        <li><a href="/rewards">Rewards</a></li>
        <li><a href="/tasks/new">New Task</a></li>
      </ul>
    </div>
  </div>
</nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
